@import "tailwindcss";

:root {
  --background: rgb(201, 195, 179);
  --header-background: rgba(188, 178, 153, 0.8);
  --foreground: #171717;
  --menu-background: rgba(114, 108, 94, 0.848);
  --Link-background: rgba(77, 74, 65, 0.848);
  --Wine-Red: rgb(122, 58, 58);

  --Charcoal-gray: #3b3b3b;
  --Forest-green: #4a5f46;
}

@theme {
  --font-hebrew: var(--font-noto-serif-hebrew);
}

body {
  /* background: rgb(201, 195, 179, 1); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
