@import "tailwindcss";

:root {
  --background: #c9c3b3;
  --header-background: #bcb299cc;
  --foreground: #171717;
  /* --menu-background: rgba(114, 108, 94, 0.848); */
  --menu-background: #bcb29983;
  --Link-background: rgba(77, 74, 65, 0.848);
  --Wine-Red: #7a3a3a;
  --carousel-background: #7b330663;

  --Very-Dark-gray: #2c2c2c;
  --Charcoal-gray: #3a3a3a;
  --Warm-Dark-Brown: #4a3f36;
  --Rich-Sepia: #5e4638;
  --Forest-green: #4a5f46;
  --green: #8ab083;
}

@theme {
  --font-hebrew-notoSerif: var(--font-noto-serif-hebrew);
  --font-hebrew-frankRuhlLibre: var(--font-frank-ruhl-libre);
  --font-hebrew-davidLibre: var(--font-david-libre);
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  position: relative;
}
